* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(253, 244, 229);
  height: 100vh;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 12vh;
  border-bottom: 1px solid #0b573e;
  padding: 0 10px 0 10px;
}

.btn {
  padding: 10px;
  font-size: 1em;
  margin: 5px;
  background-color: rgb(253, 244, 229);
  color: #0b573e;
  border: 2px solid #0b573e;
}

input {
  padding: 10px;
  font-size: 1em;
  background-color: rgb(253, 244, 229);
  color: #0b573e;
  border: 2px solid #0b573e;
}

.amountOfSquaresOwnChoice {
  margin-right: 10px;
}

.amountOfSquaresOwnChoice:hover {
  border-width: 3px;
}

#amountChoiceID {
  max-width: 150px;
  margin-left: 10px;
}

.btn:hover {
  border-width: 3px;
}

.newColor {
  margin-right: auto;
}

.reset {
  margin-left: auto;
}

#container {
  height: 88vh;
  display: grid;
  grid-template-areas: none;
  gap: 1px;
}
